

<div class="container">

    <h1>There was an error with your signup, or someone already has that username. Please try again: </h1>




    <form method="POST" action="/registration">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">

        <label for="password">Password: </label>
        <input type="text" name="password" id="password">

        <input type="submit" value="Sign up">
    </form>

    <a href="/authentication/login">Log In</a>

</div>