

<div class="container">

    <h1>Someone has that username already. If it's you, please click log in. If not, please choose a different username and try again: </h1>




    <form method="POST" action="/registration">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">

        <label for="password">Password: </label>
        <input type="text" name="password" id="password">

        <input type="submit" value="Sign up">
    </form>

    <a href="/authentication/login">Log In</a>

</div>