

<div class="container">

    <h1>Welcome to your new recipe notebook. Please create an account: </h1>


    <form method="POST" action="/registration">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">

        <label for="password">Password: </label>
        <input type="text" name="password" id="password">

        <input class="btn" type="submit" value="Sign Up">
    </form>

    <h3> Looking to log in? </h3>     <a class="btn" href="/authentication/login">Log In Here</a>

</div>