

<h3>Create a New Recipe Here:</h3>

<div class="container">
    <form method="post" action="/recipes">

        <h6> Recipe Name: </h6>
        <input type="text" name="recipe[name]" id="recipe_name">
        <h6>Chef: </h6>
        <input type="text" name="recipe[author]" id="recipe_author">
        <h6>Cuisine: </h6>
        <input type="text" name="recipe[cuisine]" id="recipe_cuisine">
        <h6>Serves: </h6>
        <input type="text" name="recipe[serves]" id="recipe_serves">
        <h6>Meal: </h6>
        <% @meals.each do |meal| %>
            <p>
            <label>
                <input type="checkbox" name="[meals][]" id="meal_<%= @meals.index(meal) %>" value="<%= meal %>" />
                <span><%= meal %></span>
            </label>
            </p>
        <% end %>
          
        <h6>Cooking/Prep Time: </h6>
        <input type="text" name="recipe[cook_time]" id="recipe_cook_time">

        <h5>Add Ingredients: </h5>
        <div class="row">
            <h6 class="col s3">Quantity: </h6>
            <h6 class="col s9">Ingredient: </h6>
        </div>
        <div class="row">
                <% 10.times do %>
                    <div class="col s3">
                        <input type="text" name=quants[] id="quants">
                    </div>
                    <div class="col s9">
                         <input type="text" name=ings[] id="ings">
                    </div>
                <% end %>
        </div>
        <br><br>
        <div class ="row">
            <div class="col s12">
                <h4>Steps: </h4>
                <% 10.times do |index| %>
                    <%= "#{index + 1}. " %><input type="text" name=steps[] id="step">
                <% end %>
            </div>
        </div>
        <input class="btn" type="submit" value="Save">
    </form>
</div>
        
    

