

<h4>Create a New Recipe Here:</h4>

<div class="container">
    <form method="post" action="/recipes">
        <label for="recipe_name">Recipe Name:</label>
        <input type="text" name="recipe[name]" id="recipe_name">
        <label for="recipe_author">Chef:</label>
        <input type="text" name="recipe[author]" id="recipe_author">
        <label for="recipe_cuisine">Cuisine:</label>
        <input type="text" name="recipe[cuisine]" id="recipe_cuisine">
        <label for="recipe_serves">Serves:</label>
        <input type="text" name="recipe[serves]" id="recipe_serves">
        <h6>Meal: </h6>
        <% MEALS.each do |meal| %>
            <p>
            <label>
                <input type="checkbox" name="[meals][]" id="meal_<%= MEALS.index(meal) %>" value="<%= meal %>" />
                <span><%= meal %></span>
            </label>
            </p>
        <% end %>
          
        <label for="recipe_cook_time">Cooking/Prep Time:</label>
        <input type="text" name="recipe[cook_time]" id="recipe_cook_time">

        <br><br><h6>Add Ingredients: </h6><br>
        <div class="row">
            <label class="col s3" for="quants">Quantity:</label>
            <label class="col s9" for="ingred_names">Ingredient:</label>
        </div>
        <div class="row">
                <% 10.times do %>
                    <div class="col s3">
                        <input type="text" name=ingreds[][quant] id="quants">
                    </div>
                    <div class="col s9">
                         <input type="text" name=ingreds[][name] id="ingred_names">
                    </div>
                <% end %>
        </div>
        <br><br>
        <div class ="row">
            <div class="col s12">
                <h6>Steps: </h6>
                <% 10.times do |index| %>
                    <%= "#{index + 1}. " %><input type="text" name=steps[] id="step">
                <% end %>
            </div>
        </div>
        <input class="btn" type="submit" value="Save">
    </form>
</div>
        
    

