
<div class="container">

    <h1>Welcome to your recipe notebook. Please log in below: </h1>




    <form method="POST" action="/authentication">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">

        <label for="password">Password: </label>
        <input type="text" name="password" id="password">

        <input class="btn" type="submit" value="Log In"> <a float="right" class="btn" href="/registration/signup">Sign Up</a>
    </form>

</div>